[Unit]
Requires=systemd-networkd.socket
After=systemd-networkd.socket

[Service]
# Only add this first line if you need wifi for your app to function
# ExecStartPre=/lib/systemd/systemd-networkd-wait-online --interface=wlan0
# Replace path as appropriate
ExecStart=/usr/bin/python /home/pi/sources/pi-geo-station/uv/reader.py
Restart=always
StandardOutput=syslog
StandardError=syslog
# Replace name as appropriate
SyslogIdentifier=uv-logger
User=root
Group=root

[Install]
WantedBy=multi-user.target
